.feedback {
  background-image: url('../../../assets/doctorg.png');
  background-repeat: no-repeat;
  background-position: center;
}
.feedback .feedback-container {
  background-color: rgba(110, 39, 224, 0.81);
}
.feedback .swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  padding: 0 40px;
}
